.escritorio {
    width: 100%;
    height: calc(100vh - 48px);
    background-image: url("../images/fondooscuro.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}