// ==============================
// MENÚ INICIO
// ==============================

.menu_inicio {
    
    position: fixed;

    bottom: 60px;
    left: 50%;
    transform: translateX(-50%);
    display: none;
    //display: flex;

    width: 750px;
    height: 550px;

    border: 1px solid rgba(255, 255, 255, 0.10);
    border-radius: 10px;

    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.35);

    overflow: hidden;

    z-index: 900;
}


// ==============================
// PANEL PRINCIPAL - 70%
// ==============================

.menu_inicio_principal {
    width: 70%;
    height: 100%;

    background-color: rgba(32, 32, 32, 0.90);

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}


// ==============================
// PANEL LATERAL - 30%
// ==============================

.menu_inicio_lateral {
    width: 30%;
    height: 100%;

    background-color: rgba(25, 25, 25, 0.95);

    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}
.menu_seccion {
    margin-bottom: 35px;
}
.menu_inicio_contenido::-webkit-scrollbar {
    width: 2px;
}
.menu_inicio_contenido::-webkit-scrollbar-thumb {
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 20px;
}
.menu_inicio_contenido::-webkit-scrollbar-track {
    background: transparent;
}