.barra_inferior_derecha {
    justify-content: flex-end;
    padding-right: 15px;
    
}
.iconos_sistema {
    display: flex;
    align-items: center;
    gap: 8px;
    padding-right: 15px;
}
.fecha_hora {
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    font-size: 14px;
    padding-left: 15px;
}
.idioma{
    padding-right: 15px;
}
.icono_audio img,
.icono_wifi img{
    padding-right: 5px;
    height: 20px;
}